* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #3498db;
  --white-background-color: #fff;
  --primary-blue: #4567b7;
  --accent-gold: #d4af37;
  --deep-red: #ff1900;
  --light-red: #ff4d4d;
  --light-bg: #fefefe;
  --soft-gray: #999;
}

body {
  background-color: rgb(25, 25, 25);
  color: var(--light-bg);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

.container {
  margin: auto;
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-decoration: underline var(--accent-gold);
}

.subtitle {
  font-size: 16px;
  color: #999999;
  text-align: center;
  margin-bottom: 25px;
}

.subtitle::after {
  content: " 🎮";
  font-size: 18px;
}

.subtitle:hover {
  color: var(--accent-gold);
  transition: color 0.3s ease;
}

.move-icon {
  height: 50px;
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 15px;
  gap: 20px;
}

.move-button {
  background-color: transparent;
  border: 3px solid var(--accent-gold);
  border-radius: 60px;
  width: 110px;
  height: 110px;
  cursor: pointer;
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1.2rem;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.8;
}

.result.show {
  transform: scale(1.2);
  opacity: 1;
}

.auto-play {
  background-color: var(--primary-blue);
  color: white;
  font-weight: bold;
}

.reset-score,
.auto-play,
.modal-content button {
  width: 120px;
  border: none;
  font-size: 15px;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.reset-score {
  background-color: var(--deep-red);
  color: var(--light-bg);
  font-weight: bold;
  transition: 1s;
}

.reset-score:hover {
  background-color: var(--light-red);
}

.auto-play:hover {
  background-color: var(--primary-blue);
}

.js-score {
  margin-top: 40px;
  font-weight: 600;
  color: var(--accent-gold);
}

.key-div {
  display: block;
  position: absolute;
  right: 15px;
  bottom: 10px;
  border: 1px solid none;
  max-width: 250px;
  padding: 13px 12px;
  text-align: left;
  border-radius: 10px;
  box-shadow: 2px 0 7px;
  animation: alert 4s ease-in-out infinite;
}

.key-div h4 {
  text-decoration: underline var(--accent-gold);
  font-size: 1.3rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

ul li {
  list-style: none;
  margin-bottom: 0.75rem;
}


@media (max-width: 768px) {
  .key-div {
    display: none;
  }

  .key-div ul {
    list-style: none;
  }

  .key-div li {
    padding: 5px 0;
  }
}

@keyframes alert {
  0% {
    box-shadow: 2px 0 5px var(--soft-gray);
  }

  50% {
    box-shadow: 2px 0 7px var(--accent-gold);
  }

  100% {
    box-shadow: 2px 0 5px var(--soft-gray);
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: var(--white-background-color);
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  text-align: center;
  border-radius: 8px;
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.modal-content p {
  color: #333;
  margin-bottom: 10px;
}

.modal-content button {
  margin-top: 10px;
}

#confirm-reset {
  background-color: var(--deep-red);
  color: var(--light-bg);
  border: none;
}

#confirm-reset:hover {
  background-color: var(--light-red);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#cancel-reset {
  background-color: var(--primary-blue);
  color: var(--light-bg);
  border: none;
}

#cancel-reset:hover {
  background-color: var(--primary-blue);
  transition: background-color 0.3s ease, transform 0.2s ease;
}